@font-face {
  font-family: "ppneuemontreal";
  src: url("/fonts/ppneuemontreal-thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-mediuitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ppneuemontreal";
  src: url("/public/fonts/ppneuemontreal-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
