@import "./normalize.css";
@import "./fonts.css";

:root {
  --color-ffffff: #ffffff;
  --color-000000: #000000;
  --color-4e535b: #4e535b;
  --color-1f1f1f: #1f1f1f;
  --color-0050ef: #0050ef;
  --color-d8d8d8: #d8d8d8;
  --color-6d6d6d: #6d6d6d;
  --color-31dace: #31dace;
  --color-f7f3f2: #f7f3f2;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "ppneuemontreal", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-1f1f1f);
  background-color: var(--color-f7f3f2);
  line-height: 1.25;
  font-size: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1.5rem 0;
  width: 100%;
  overflow: clip;
}

section {
  position: relative;
  z-index: 20;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 92svw;
  /*max-width: 33.75rem;*/
  margin: 0 auto;
  position: relative;
  z-index: 20;

  &.container-article {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.article-top {
  color: var(--color-4e535b);
  font-size: 0.875rem;
  display: flex;
  column-gap: 0.375rem;
  align-items: center;

  & .dot {
    width: 2px;
    height: 2px;
    border-radius: 999px;
    background-color: var(--color-4e535b);
  }
}

article {
  line-height: 1.6;
  text-wrap: pretty;

  & > :not(div):first-child,
  & > div:first-child > :first-child {
    margin-top: 0 !important;
  }
  & > :last-child,
  & ol li:last-child,
  & ul li:last-child,
  & p:last-child {
    margin-bottom: 0;
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    line-height: 1.2;
  }

  & h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.2;
  }

  & h4 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 1rem;
  }

  & strong {
    font-weight: 500;
  }

  & a {
    text-decoration: none;
    color: var(--color-0050ef);
  }

  & figure {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }

  & figcaption {
    font-size: 0.75rem;
    color: var(--color-4e535b);
    margin-top: 0.5rem;
  }

  & img {
    width: 100%;
    border-radius: 1.25rem;
  }

  & p,
  & ul,
  & ol {
    /*margin-top: 1rem;*/
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }

  & ul,
  & ol {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-left: 2rem;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }
}
